<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:80%; margin:auto;text-align: center;">
        <form action="/admin/api/v1/admin/register" method="POST">
            <input type="text" name="name"  placeholder="name"><p></p>
            <input type="text" name="username" placeholder="username"><p></p>
            <input type="email" name="email" placeholder="email"><p></p>
            <input type="text" name="password" placeholder="password"><p></p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>