<%- include("../partials/admin/header") %>


<h1>Dashboard</h1>
<div class="account_ctn_Right_Part1">
    <div class="acr_Part1 acr_Part11">
        <h4>adminname:</h4>
        <h3><%= admin.username %></h3>
    </div>
</div>


<div class="account_ctn_Right_Part1">
    <div class="acr_Part1 acr_Part11">
        <h4>Number of users:</h4>
        <h3><%= numberOfUsers %></h3>
    </div>
</div>




<%- include("../partials/admin/footer") %>

