
<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title> PCF | PGEÍ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta name="csrf-token" content="l278I4EM5k5ubUt9iwyfK0TYcXJKzLxNvamTfWR7" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <!-- App css -->
        <link href="/css/bootstrap-dark.min.css" id="bootstrap-dark" rel="stylesheet" type="text/css" />
        <link href="/css/bootstrap.min.css" id="bootstrap-light" rel="stylesheet" type="text/css" />
        <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/app-rtl.min.css" id="app-rtl" rel="stylesheet" type="text/css" />
        <link href="/css/app-dark.min.css" id="app-dark" rel="stylesheet" type="text/css" />
        <link href="/css/app.min.css" id="app-light" rel="stylesheet" type="text/css" />  </head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
<body>
    
    
    <div class="home-btn d-none d-sm-block">
        <a href="#" class="text-dark"><i class="fa fa-home fa-2x"></i></a>
    </div>
    
    <div class="account-pages my-5 pt-sm-5">
        <% var error %>
        <% var message %>
        <h4 class="text-danger" style="text-align: center;"><%= error %></h4>
        <h4 class="text-success" style="text-align: center;"><%= message %></h4>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-login text-center">
                            <div class="bg-login-overlay"></div>
                            <div class="position-relative">
                                <h5 class="text-white font-size-20">Admin Register</h5>
                                <p class="text-white mb-0">Create a new admin</p>
                                <!-- <a href="index" class="logo logo-admin mt-4">
                                    <img src="/images/logo-sm-dark.png" alt="" height="30">
                                </a> -->
                                <img src="/images/admin.png" alt="">
                            </div>
                        </div>
                        <div class="card-body pt-5">

                            <div class="p-2">
                                <form method="POST" action="/api/admin/register" id="myForm">
                                    
                                    <div class="form-group">
                                        <label for="useremail">E-Mail Address</label>
                                        <input type="email" name="email" class="form-control " name="email" value="" id="useremail" placeholder="Enter email, 6 characters long" autocomplete="email">
                                                                            </div>

                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" value="" required autocomplete="name" class="form-control " autofocus id="name" placeholder="Enter name, 6 characters long">
                                                                            </div>

                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <input type="password" class="form-control " name="password" required autocomplete="new-password" id="userpassword" placeholder="Enter password, 6 characters long">
                                                                            </div>

                                    <div class="form-group">
                                        <label for="userpassword">Confirm Password</label>
                                        <input type="password" name="password_confirmation" class="form-control" id="userconfirmpassword" placeholder="Confirm password">
                                        <span  class="text-danger" style="display: none;" id="passwordError">Passwords do not match!</span>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" id="register" type="submit"> Register</button>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <p class="mb-0">By registering you agree to the Skote <a href="#" class="text-primary">Terms of Use</a></p>
                                    </div>
                                </form>
                            </div>
                            <script>
                                var email = document.getElementById("myForm");
                                var password = document.getElementById("userpassword");
                                var confirmPassword = document.getElementById("userconfirmpassword");
                                var passwordError = document.getElementById("passwordError");

                                email.addEventListener("submit", (e)=>{
                                    
                                    if(password.value !== confirmPassword.value){
                                        passwordError.style.display = "block"
                                        e.preventDefault();
                                    }
                                })

                                password.addEventListener("keypress", ()=>{
                                    passwordError.style.display = "none"

                                })

                                confirmPassword.addEventListener("keypress", ()=>{
                                    passwordError.style.display = "none"

                                })

                                

                            </script>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Already have an account ? <a href="/api/admin/login" class="font-weight-medium text-primary"> Login</a> </p>
                        <p>© <script> document.write(new Date().getFullYear()) </script> Qovex. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/libs/metismenu/metismenu.min.js"></script>
    <script src="/libs/simplebar/simplebar.min.js"></script>
    <script src="/libs/node-waves/node-waves.min.js"></script>

    <script src="/js/app.min.js"></script>

    
    <!-- JAVASCRIPT -->
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/libs/bootstrap/bootstrap.min.js"></script>
        <script src="/libs/metismenu/metismenu.min.js"></script>
        <script src="/libs/simplebar/simplebar.min.js"></script>
        <script src="/libs/node-waves/node-waves.min.js"></script>

        
        <!-- App js -->
        <script src="/js/app.min.js"></script>

            </body>
</html>
