<!doctype html>
<html lang="en">

    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8" />
        <title> SDS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta name="csrf-token" content="bI3Ht0WfNYDS5tW5qBONf13Z8fd6qr6lE3pS0Ycq" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <!-- App css -->
        <link href="/css/bootstrap-dark.min.css" id="bootstrap-dark" rel="stylesheet" type="text/css" />
        <link href="/css/bootstrap.min.css" id="bootstrap-light" rel="stylesheet" type="text/css" />
        <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/app-rtl.min.css" id="app-rtl" rel="stylesheet" type="text/css" />
        <link href="/css/app-dark.min.css" id="app-dark" rel="stylesheet" type="text/css" />
        <link href="/css/app.min.css" id="app-light" rel="stylesheet" type="text/css" />  </head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body>
    
        <div class="home-btn d-none d-sm-block">
        <a href="#" class="text-dark"><i class="fa fa-home fa-2x"></i></a>
    </div>
    <div class="account-pages my-5 pt-sm-5">
        <% var error %>
        <% var message %>
        <h4 class="text-danger" style="text-align: center;"><%= error %></h4>
        <h4 class="text-success" style="text-align: center;"><%= message %></h4>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-login text-center">
                            <div class="bg-login-overlay"></div>
                            <div class="position-relative">
                                <h5 class="text-white font-size-20">Welcome Back !</h5>
                                <p class="text-white mb-0">Sign in to continue.</p>
                                <!-- <i class="fa fa-user"></i>
                                <a href="login.html" class="logo logo-admin mt-4"> -->
                                <!-- </a> -->
                                <img src="/images/admin.png" alt="">
                            </div>
                        </div>
                        <div class="card-body pt-5">
                            <div class="p-2">
                                <form method="POST" action="/api/admin/login">
                                    <input type="hidden" name="_token" value="bI3Ht0WfNYDS5tW5qBONf13Z8fd6qr6lE3pS0Ycq">                                    <div class="form-group">
                                        <label for="email">E-Mail Address</label>
                                        <input id="email" type="email" class="form-control " name="email"  value=""  required autocomplete="email" autofocus>
                                                                            </div>

                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <input id="password" type="password" class="form-control " name="password" required autocomplete="current-password">
                                                                            </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="remember" id="customControlInline" >
                                        <label class="custom-control-label" for="customControlInline">Remember Me</label>
                                    </div>

                                    <div class="mt-3">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" id="login" type="submit">Login</button>
                                    </div>




                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>© <script>
                                document.write(new Date().getFullYear())
                            </script> PGE </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/libs/metismenu/metismenu.min.js"></script>
    <script src="/libs/simplebar/simplebar.min.js"></script>
    <script src="/libs/node-waves/node-waves.min.js"></script>

    <script src="/js/app.min.js"></script>
    
    <!-- JAVASCRIPT -->
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/libs/bootstrap/bootstrap.min.js"></script>
        <script src="/libs/metismenu/metismenu.min.js"></script>
        <script src="/libs/simplebar/simplebar.min.js"></script>
        <script src="/libs/node-waves/node-waves.min.js"></script>

        
        <!-- App js -->
        <script src="/js/app.min.js"></script>

            </body>

<!-- Mirrored from pacificglobalexpress.com/Admin/public/login by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Nov 2020 15:27:55 GMT -->
</html>
